####################################
# Packages
####################################
node_modules

####################################
# Reports / Test
####################################
coverage
testresults/*.xml
testresults/*.json
testresults/*.html
test/.cached

####################################
# Build
####################################
build
dist
.tmp
tmp
*.tgz

####################################
# Environment
####################################
.env.local
.env.development.local
.env.test.local
.env.production.local
.zip
.DS_STORE

####################################
# Logs
####################################
*.log
.idea
