####################################
# Packages
####################################
node_modules

####################################
# Reports
####################################
coverage
testresults/*.xml

####################################
# Build
####################################
build
dist
.tmp
tmp

####################################
# Environment
####################################
.env.local
.env.development.local
.env.test.local
.env.production.local
.zip
.DS_STORE

####################################
# Logs
####################################
*.log
.idea
