
.container {
  width: 100%;
  background: #eceff2;
  padding: 50px 20px;
  flex: 1;
  flex-direction: row;
  display: flex;
}

.leftCol {
  width: 40%;
}

.rightCol {
  width: 60%;
}

.creditCardImage {
  width: 90%;
  margin: 0px auto;
}
